$white: #fff;
$error: #d91616;

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    height: 100vh;
    justify-content: center;
    @media (max-width: 768px) {
        padding: 15px;
    }
    .roman-value {
        margin-left: 8px;
    }
    .input-error {
        border: 1px solid $error !important;
        color: $error;
        font-weight: bold;
        margin-bottom: 0;
    }
    .error {
        color: $error;
        font-weight: bold;
        margin: 4px 0 16px;
    }
}
.VF2-xW_spectrum--dark {
    h1 {
        color: $white;
    }
}